/* CSS by Susan Sjoberg */
/* Color Palette
Magenta = #9C3962
Frosted Glass = #B6DDF9
Pine Green = #054B46
Pink Sugar = #FFD6D1
Emerald = #149057
Pink = #F26191

Assistance from Adobe Color
*/

/* GLOBAL (base) MOBILE FIRST */
body {
    background-color: black;
    margin: 0;
    padding: 2rem;
}

header {
    background-color: #F26191;
    border: solid #FFD6D1;
    padding: 1rem;
    text-align: center;

}

h1, h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFD6D1;
}

p {
    color: #FFD6D1;
}

nav {
  background-color: #B6DDF9;
  border: groove;  
}

nav ul {
display: flex;
justify-content: space-evenly;
list-style: none;
padding: 1rem;
}

nav a {
background-color: #B6DDF9;
text-decoration: none;
font-family: 'Courier New', Courier, monospace;
padding: 1rem;
text-transform: uppercase;
}

nav a:hover {
background-color: #054B46;
color: white;
}

.card-row {
    border: dotted #FFD6D1;
    padding: 1rem;
    gap: 1rem;
}

.card-row img {
    width: 100%;
    object-fit: contain;
    padding: .25rem;
}

main {
background-color: #9C3962;
padding: 1rem;
border: solid #FFD6D1;
}


/* Media Query (medium) */
@media screen and (min-width:600px) {
    body {
        grid-template-columns: 1fr 1fr;
    }
    header, nav, footer {
        grid-column: 1/-1;
    }
    nav {
        grid-column: 1/2;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: space-between;
        align-content: space-around;
    }

}

@media screen and (min-width:850px) {
    body {
        grid-template-columns: 1fr 1fr 1fr;
    }
    nav {
        grid-column: 1/3;
    }
    .card-row {
        display: flex;
        gap: 1rem;
    }
    .card-row section {
        width: 85%;
    }
}